<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">
*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Data Manipulation with Pandas](03.00-Introduction-to-Pandas.ipynb) | [Contents](Index.ipynb) | [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb) >

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.



As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.

Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.


We will start our code sessions with the standard NumPy and Pandas imports:

In [1]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

一维数组

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.



The ``values`` are simply a familiar NumPy array:

In [9]:
data.values   

type(data.values)  # 是numpy的数组的结构
type(np.array([1,2,3]))

numpy.ndarray

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, 

the Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array that it emulates.

Series 会比numpy数组更好用

### ``Series`` as generalized NumPy array, 作用通用的数组(索引可以使用非Integer)

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.


The essential difference is the presence of the index:  基本的区别是索引

while the Numpy Array has an *implicitly defined* integer index used to access the values, numpy 使用整数的模糊索引
the Pandas ``Series`` has an *explicitly defined* index associated with the values. Series 可以使用明确的索引

This explicit index definition gives the ``Series`` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.

For example, if we wish, we can use strings as an index:

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

pd.Series? # 初始化结构

And the item access works as expected:

In [13]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

### Series as specialized dictionary(特殊字典)

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.

A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.

This typing is important: 

just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, 

numpy使用已经编译的代码

the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

Series的某些操作更加高校

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [16]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the sorted keys.

From here, typical dictionary-style item access can be performed:

In [17]:
population['California']

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [13]:
population['California':'Illinois']  # 支持索引分片

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

We'll discuss some of the quirks of Pandas indexing and slicing in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing Series objects, 创建Series对象

We've already seen a few ways of constructing a Pandas ``Series`` from scratch; 

all of them are some version of the following:

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of many entities.
For example, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

data可以是list, nump.darray,  index是整数序列

In [18]:
pd.Series([2, 4, 6])  # list

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

data 可以是标量, 会扩展

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` can be a dictionary, in which ``index`` defaults to the sorted dictionary keys:

In [28]:
d1 = dict(a=1,c = 'c') # dic的一种初始化的方式
print(d1)
pd.Series({2:'a', 1:'b', 3:'c'})  # 使用dict

{'a': 1, 'c': 'c'}

1    b
2    a
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, 

the ``Series`` is populated only with the explicitly identified keys.

Series 会保留显示定义的建值, key=1在index中没有指出

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.

Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

We'll now take a look at each of these perspectives.

### DataFrame as a generalized NumPy array
If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.  


Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.

Here, by "aligned" we mean that they share the same index.

DataFrame 是Serise的一维数组结构,Series必须有相同的索引

To demonstrate this, let's first construct a new ``Series`` listing the area of each of the five states discussed in the previous section:

In [30]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

<bound method Series.keys of California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64>

Now that we have this along with the ``population`` Series from before,

we can use a dictionary to construct a single two-dimensional object containing this information:

In [35]:
states = pd.DataFrame({'population': population,  #Series
                       'area': area})  # Series, 使用{}的方式初始化
states   # 使用两个Serie创建DataGrame
#states['area']

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [40]:
states.index  # 缩影states.keys
states.values # to-二维array

array([[  423967, 38332521],
       [  170312, 19552860],
       [  149995, 12882135],
       [  141297, 19651127],
       [  695662, 26448193]])

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [44]:
states.columns  #列的索引
states.index    #行的索引使用index

Index(['area', 'population'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.


Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.

For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [49]:
states['area']  # 列名为key
states
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

Notice the potential point of confusion here: in a two-dimesnional NumPy array, ``data[0]`` will return the first *row*. For a ``DataFrame``, ``data['col0']`` will return the first *column*.

二维数组是按行提取数据,DataFrame是列读取数据

Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.



We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [51]:
pd.DataFrame(population, columns=['population'])  # 使用columns使用的指定列的索引,
# 二维数组和DataFrame注意区分最高维的索引是哪个
p = pd.DataFrame({'pop':population})  #  使用{}
p

                 pop
California  38332521
Florida     19552860
Illinois    12882135
New York    19651127
Texas       26448193

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [60]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

[{'a':i} for i in range(3)]  # {}的list
pd.DataFrame(data)  # 使用的是 list

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, 
Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

对于没有的值,自动补全为NaN

In [59]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects, 使用Series创建

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [61]:
pd.DataFrame({'population': population,  #Series 没有列索引
              'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

#### From a two-dimensional NumPy array, 使用二维数组创建

Given a two-dimensional array of data, 

we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [62]:
pd.DataFrame(np.random.rand(3, 2),   # 默认是二维数组的建立
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.811035  0.296771
b  0.399557  0.111070
c  0.622635  0.536475

In [68]:
np.random.randint(10,size = (3,4))
pd.DataFrame(data = np.random.randint(10, size = (3,4)))  # 没有指定index,colums

   0  1  2  3
0  3  0  4  1
1  7  9  1  4
2  0  7  2  2

#### From a NumPy structured array

We covered structured arrays in [Structured Data: NumPy's Structured Arrays](02.09-Structured-Data-NumPy.ipynb).


A Pandas ``DataFrame`` operates much like a structured array,
and can be created directly from one:

In [77]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])  # 组合数组类型

[x for x in A]  #   A 是类型的名字, i8是类型的存储结构  [(‘new_int’, 'int'),('new_float','float64')], 定义type2个基本属性

[(0,  0.), (0,  0.), (0,  0.)]

In [78]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you reference and modify data.


This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).


index可以看作是不可改变的数组, 或者有序数组

Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [82]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

pd.Index([1,2,4],name = 'my-index',dtype = np.float128) # 适配数据类型

Float64Index([1.0, 2.0, 4.0], dtype='float64', name='my-index')

### Index as immutable array, pd.Index 是不可改变的数组

The ``Index`` in many ways operates like an array.


For example, we can use standard Python indexing notation to retrieve values or slices:

In [83]:
ind[1]

3

In [84]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [33]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)  # 索引的基本属性

5 (5,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means:

In [85]:
ind[1] = 0  # index 的对象不可改变

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays,

without the potential for side effects from inadvertent index modification.


index 数据类型不可以改变,因为如果可以改变就会影响不同的数据结构之间的共享

### Index as ordered set, index 是有序的数据组合

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.


The ``Index`` object follows many of the conventions used by Python's built-in ``set`` data structure,

Index是有序的数据集, 遵循set结构的基本用法

so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [86]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [36]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [37]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [38]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

These operations may also be accessed via object methods, for example ``indA.intersection(indB)``.

<!--NAVIGATION-->
< [Data Manipulation with Pandas](03.00-Introduction-to-Pandas.ipynb) | [Contents](Index.ipynb) | [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb) >